services:    
    control:
        class: nattreid\gallery\plupload\PluploadControl
        implement: nattreid\gallery\plupload\IPluploadControlFactory

    uploader:
        class: nattreid\gallery\plupload\Uploader(%tempDir%/plupload)

    uploadQueue:
        class: nattreid\gallery\plupload\UploadQueue
        implement: nattreid\gallery\plupload\IUploadQueueFactory
        parameters: [id]
        arguments: [%id%]

    upload:
        class: nattreid\gallery\plupload\Upload
        implement: nattreid\gallery\plupload\IUploadFactory
        parameters: [filename, name]
        arguments: [%filename%, %name%]